<div class="btn-group">
  <button class="btn btn-secondary" (click)="dateOpt.next(this.yesterday(dateOpt.value))">
    {{dateYesterdayOpt|async|date: LAYOUT}}
  </button>
  <button class="btn btn-success">
    {{dateOpt|async|date: LAYOUT}}
  </button>
  <button class="btn btn-secondary" (click)="dateOpt.next(this.tmr(dateOpt.value))">
    {{dateTmrOpt|async|date: LAYOUT}}
  </button>
  <button class="btn btn-danger" (click)="dateOpt.next(toDay())">
    Today
  </button>
</div>
<div class="row">
  <div class="btn-group">
    <button class="btn" [ngClass]="{'btn-secondary': !item.isSelected(), 'btn-success': item.isSelected()}"
            *ngFor="let item of (routeOptions | async) " (click)="item.select()">
      {{item.value().get()}}
    </button>
  </div>
  <div class="input-group" *ngIf="toFromObs | async; let item">
    <span class="input-group-text">Direction</span>
    <select class="form-select" [ngModel]="item.from" (ngModelChange)="toFrom.next(item.updateFrom($event))">
      <option *ngFor="let line of item.fromOption" [value]="line">{{line}}</option>
    </select>
    <select class="form-select" [ngModel]="item.to" (ngModelChange)="toFrom.next(item.updateTo($event))">
      <option *ngFor="let line of item.toOption" [value]="line">{{line}}</option>
    </select>
    <button class="input-group-text" (click)="toFrom.next(item.switch())">
      <fa-icon class="fa" [icon]="faArrowRightArrowLeft"></fa-icon>
      Switch
    </button>
  </div>
</div>
