<div *ngIf="busyStatus|async">
  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
</div>
<div class="btn-group">
  <button class="btn btn-secondary" (click)="dateOpt.next(dateYesterdayOpt.value)">
    {{dateYesterdayOpt|async|date: 'd MMM yyyy'}}
  </button>
  <button class="btn btn-success">
    {{dateOpt|async|date: 'd MMM yyyy'}}
  </button>
  <button class="btn btn-secondary" (click)="dateOpt.next(dateTmrOpt.value)">
    {{dateTmrOpt|async|date: 'd MMM yyyy'}}
  </button>
  <button class="btn btn-danger" (click)="setDateAsToday()">
    Today
  </button>
</div>
<div class="row">
  <div class="input-group mb-3">
    <span class="input-group-text">Route</span>
    <select [ngModel]="selecting|async" (ngModelChange)="selecting.next($event)">
      <option *ngFor="let route of routes" [value]="route">
        {{route}}
      </option>
    </select>
  </div>
  <div>
    <div class="input-group">
      <span class="input-group-text">Direction</span>
      <select [ngModel]="from|async" (ngModelChange)="from.next($event)">
        <option *ngFor="let line of fromOptions|async" [value]="line">{{line}}</option>
      </select>
      <select [ngModel]="to|async" (ngModelChange)="to.next($event)">
        <option *ngFor="let line of toOptions|async" [value]="line">{{line}}</option>
      </select>
      <button class="input-group-text">
        <fa-icon class="fa" [icon]="faArrowRightArrowLeft" (click)="switch()"></fa-icon>
        Switch
      </button>
    </div>
  </div>
</div>
<br>
<table class="table table-success table-striped-columns table-hover">
  <thead>
    <tr>
      <th>From</th>
      <th>TO</th>
      <th>Speed</th>
      <th>Time</th>
      <th>Remark</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr *ngFor="let r of schedule">
    <td>{{r.From}}</td>
    <td>{{r.To}}</td>
    <td>{{r.Speed}}</td>
    <td>{{r.Time}}</td>
    <td>{{r.Remark}}</td>
  </tr>
  </tbody>
</table>
