<mat-form-field appearance="fill">
  <mat-label>Route</mat-label>
  <mat-select [ngModel]="selecting|async" (ngModelChange)="selecting.next($event)" >
    <mat-option *ngFor="let route of routes" [value]="route">
      {{route}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>From</mat-label>
  <mat-select [ngModel]="from|async" (ngModelChange)="from.next($event)">
    <mat-option *ngFor="let line of fromOptions|async" [value]="line">{{line}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>To</mat-label>
  <mat-select [ngModel]="to|async" (ngModelChange)="to.next($event)">
    <mat-option *ngFor="let line of toOptions|async" [value]="line">{{line}}</mat-option>
  </mat-select>
</mat-form-field>

<table>
  <title>Ferry Schedule</title>
  <tbody>
    <tr *ngFor="let r of schedule">
      <td>{{r.From}}</td>
      <td>{{r.To}}</td>
      <td>{{r.Speed}}</td>
      <td>{{r.Time}}</td>
<!--      <td>{{r.Date}}</td>-->
    </tr>
  </tbody>
</table>
