<app-search-panel (searchResult)="searchOutput.sub.next($event)"></app-search-panel>
<div *ngIf="searchOutput.obs|async; let out">
  {{out.lane}}
  {{out.from}}
  {{out.to}}
  <!--  {{out.schedule}}-->

  <div *ngIf="takeFirst.obs|async; let item">
    <button (click)="takeFirst.sub.next(item-1)">-</button>
    {{item}}
    <button (click)="takeFirst.sub.next(item+1)">+</button>
  </div>
  <div *ngFor="let item of routes.obs|async">
    <app-count-down-card [route]="item"></app-count-down-card>
  </div>
</div>
