<div class="container-fluid">
  <div class="navbar-nav">
    <div>
      <a class="navbar-brand" href="#">
        <fa-icon class="fa-2x" [icon]="faFerry" href="#"></fa-icon>
      </a>
      <a class="nav-item btn" routerLink="/ferry-schedule" routerLinkActive="active">Ferry Schedule</a>
      <a class="nav-item btn" routerLink="/next-ferry" routerLinkActive="active">Next Ferry</a>
      <a class="nav-item btn" routerLink="/first-page" routerLinkActive="active">Routes</a>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
